* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100svh;
	max-height: 100svh;
	overflow: hidden;
	background: rgb(20, 20, 20);
}

canvas {
	position: fixed;
	inset: 0;
	user-select: none;
}
